
{% assign num_footer_columns = 0 %}
{% if settings.use_footer_contact %}
  {% assign num_footer_columns = num_footer_columns | plus: 1 %}
{% endif %}
{% if settings.use_footer_tags %}
  {% assign num_footer_columns = num_footer_columns | plus: 1 %}
{% endif %}
{% if settings.use_footer_flick %}
  {% assign num_footer_columns = num_footer_columns | plus: 1 %}
{% endif %}
{% if settings.use_footer_follow_us %}
  {% assign num_footer_columns = num_footer_columns | plus: 1 %}
{% endif %}

{% case num_footer_columns %}
  {% when 0 %}
  {% when 1 %}
    {% assign footer_column_width = 'col-md-12' %}
  {% when 2 %}
    {% assign footer_column_width = 'col-md-6' %}
  {% when 3 %}
    {% assign footer_column_width = 'col-md-4' %}
  {% when 4 %}
    {% assign footer_column_width = 'col-md-3' %}
{% endcase %}

<footer class="footer style7">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        {% if settings.use_footer_logo %}
        <div class="col-sm-12 {{footer_column_width}}">
          <div class="widget contact-info style3">
            <div class="logo">
              <a href="/">{{'footer_logo.png' | asset_url | img_tag}}</a>
            </div>
            <div class="content">
              {% if settings.footer_widget_address_contact != blank %}<p class="address"><i class="fa fa-home"></i><span>{{settings.footer_widget_address_contact}}</span></p>{% endif %}
              {% if settings.footer_widget_phone_contact != blank %}<p class="phone"><i class="fa fa-phone"></i> <span> {{settings.footer_widget_phone_contact}}</span></p>{% endif %}
              {% if settings.footer_widget_email_contact != blank %}<p class="mail"><i class="fa fa-envelope"></i><span>{{settings.footer_widget_email_contact}}</span></p>{% endif %}
            </div>
          </div>
        </div>
        {%endif%}
        {% if settings.use_footer_tags %}
        <div class="col-sm-12 {{footer_column_width}}">
          <div class="widget widget_tag_cloud">
            {% if settings.footer_widget_title_tags != blank %}<h2 class="widget-title">{{settings.footer_widget_title_tags}}</h2>{% endif %}
            <div class="tagcloud">
              {% for tag in collections.all.tags %}
              <a href="#" class="tag-link-17" title="1 topic" style="font-size: 8pt;">{{ tag }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
        {%endif%}
        {% if settings.use_footer_flick %}
        <div class="col-sm-12 {{footer_column_width}}">
          <div class="widget fick_photo">							
            {% if settings.footer_widget_title_flick != blank %}<h3 class="widget-title">{{settings.footer_widget_title_flick}}</h3>{% endif %}						
            <ul class="fick-photo">
              <li><a href="#"><img alt="" src="{{"flick.gif" | asset_url}}"></a></li>
              <li><a href="#"><img alt="" src="{{"flick.gif" | asset_url}}"></a></li>
              <li><a href="#"><img alt="" src="{{"flick.gif" | asset_url}}"></a></li>
              <li><a href="#"><img alt="" src="{{"flick.gif" | asset_url}}"></a></li>
              <li><a href="#"><img alt="" src="{{"flick.gif" | asset_url}}"></a></li>
              <li><a href="#"><img alt="" src="{{"flick.gif" | asset_url}}"></a></li>
            </ul>
          </div>
        </div>
        {%endif%}
        {% if settings.use_footer_follow_us %}
        <div class="col-sm-12 {{footer_column_width}}">
          <div class="widget widget_newletter">
          {% if settings.footer_widget_title_newsletter != blank %}<h3 class="widget-title">{{settings.footer_widget_title_newsletter}}</h3>{% endif %}
          {% if settings.newsletter_form_action != blank %}
            {% assign form_action = settings.newsletter_form_action %}
          {% else %}
            {% assign form_action = '#' %}
          {% endif %}
            <form class="newletter" action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
              <input class="email-text" type="text" name="newsletter" placeholder="Your email..." value="">
              <span><button class="button add_to_cart_button" name="subscribe" id="subscribe" type="submit">OK</button></span>
            </form>
          </div>
          <div class="widget widget_social">							
            {% if settings.footer_widget_title_follow != blank %}<h3 class="widget-title">{{settings.footer_widget_title_follow}}</h3>{% endif %}
            <div class="content">

              <div class="social">
                {% include "social-links" %}
              </div>
            </div>
          </div>
        </div>
        {%endif%}
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="payment">
        <div class="head">
          {% if settings.footer_small_title_payment != blank %}<span>{{settings.footer_small_title_payment}}</span>{% endif %}
          {% if settings.footer_widget_title_payment != blank %}<span class="PlayfairDisplay">{{settings.footer_widget_title_payment}}</span>{% endif %}
        </div>
        <div class="list">
          {% for i in (1..8) %}
          {% assign link = "payment_link_" %}
          {% assign image = "payment_image_" | append : i %}
          {% assign link = link | append : i %}
          {% assign image = image | append : ".png"%}
          {% if settings[link] != blank %}
          	<a href="{{settings[link]}}" class="item"><img src="{{image | asset_url}}" alt=""></a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</footer>
<a href="#" class="scroll_top" title="Scroll to Top" style="display: block;"><i class="fa fa-arrow-up"></i></a>