{% if false %}
  {% if settings.use_slider_hp10 %}
  <!-- Home slide -->
  <div class="slider-homepage">
    {% include 'shortcode-slider' %}
  </div>
  <!-- ./Home slide -->
  {% endif %}
{% endif %}

<div class="banner-hp banner-pic jumbotron col-xs-12">

  <div class="text-center">
    <h1 class="text-center">We Are All Fellos</h1>

    <span class="h2">Fello <span class="bright-green">Friends </span> &middot; </span>

    <span class="h2">Fello <span class="orange">Travelers </span> &middot; </span>

    <span class="h2">Fello <span class="pink">Patrons </span> &middot; </span>

    <span class="h2">Fello <span class="aqua">Humanity</span></span>

    <hr />
  </div>

  <div class="text-center">
    <a href="/collections/all">
      <button class="cta-btn sharp btn btn-lg">
        <p class="h2">SHOP SUNGLASSES</p>
      </button>
    </a>
  </div>

</div>

<div class="pillar">
  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 panel sharp">

    <img src="{{ 'white_pillar.jpg' | asset_url }}" alt="Fello Ambassador">

    <div class="panel-body outline">

      <div class="pillar-cover row-eq-height">

        <div class="v-center full-w">

          <div class="widget widget_newletter">

            <h2 class="text-center highlight visible-lg">Join the Cause</h2>
            <p class="visible-lg text-center"><strong>Get 10% off any purchase!</strong><br /><small> Learn about our products end charitable causes.</small></p>
            <p class="hidden-lg text-center"><span class="highlight"><strong>Join the Cause</strong></span><br /><small> Get 10% off any purchase!</small></p>

            <form style="position: relative;" class="newletter" action="{{ settings.newsletter_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
              <input style="padding: 7px 15px;" class="email-text" type="text" name="newsletter" placeholder="Your email..." value="">
              <span><button class="button add_to_cart_button" name="subscribe" id="subscribe" type="submit"><span class="icon pe-7s-angle-right"></span></button></span>
            </form>

          </div>

        </div>

      </div>

    </div>
  </div>
</div>

<div class="pillar">
  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 panel amb sharp">

    <img src="{{ 'fello_ambassadors.JPG' | asset_url }}" alt="Fello Ambassador">

    <div class="panel-body text-center">
      
      <div class="pillar-cover row-eq-height">
        
        <div class="v-center">

          <h1 class="small-caps invisible visible-lg no-margin">Fello Ambassador</h1>
          <h4 class="small-caps invisible hidden-lg no-margin"><strong>Fello Ambassador</strong></h4>

          <img class="minor-v-marg" style="width: 25%;" src="{{ 'fello_ambassador_white.png' | asset_url }}" alt="fello ambassador">   

          <br />

          <h4 class="invisible visible-lg no-margin">Get Paid to Spread the Love</h4>
          <p class="invisible hidden-lg no-margin"><small>Get Paid to Spread the Love</small></p>

        </div>
          
      </div>
        
    </div>
  </div>
</div>

<div class="pillar">
  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 panel sharp">

    <img src="{{ 'white_pillar.jpg' | asset_url }}" alt="Fello Ambassador">

    <div class="panel-body outline">

      <div class="pillar-cover row-eq-height">

        <div class="v-center full-w">

          <h2 class="text-center highlight">Shop<br />Instagram</h2>

        </div>

      </div>

    </div>
  </div>

</div>


  	{% include 'header2'  %} <!-- Best Sellers Header -->

{% assign check_even_int = 1| plus :0 %}
{% for i in (1..10) %}
  {% assign handle = "handle_product_fw_" | append: i | append: "_home10" %}
  {% if settings[handle] != blank %}


  {% assign check_even_int = check_even_int | plus :1 %}
  {% if check_even_int == 2 %}
    {% assign product_full_width_style = "style2" %}
  {% elsif check_even_int == 3 %}
    {% assign check_even_int = 1 %}
    {% assign product_full_width_style = "" %}
  {% endif %}

  {% assign include ="" %}
  {% assign product_full_width_handle = settings[handle] %}
    {% if i == 1 %}
  	  {% include 'shortcode-product-fullwidth' with "break"  %}
    {% elsif i == 2 %}
  	  {% include 'shortcode-product-fullwidth' %}
    {% endif %}
  {% endif %}
{% endfor %}


{% if settings.use_banner_carousel_home10 %}
{% include 'shortcode-banner-slide'  %}
{% endif %}
    <div class="no-margin med-v-pads charity-hp full-w minor-h-pads">
      <div class="row">
        <h1 class="text-center">Fight Blindness Together</h1>
      </div>

      <div class="hidden-xs row">
        <br />
        <h3 class="col-md-8 col-md-offset-2 minor-h-pads justify">
          For every pair of sunglasses sold,
          Fello donates $5 to VOSH.
          You can also accompany us in our pursuit to raise awareness and
          make a difference by contributing <a href="http://www.vosh.org/donate" target="_blank">here</a>.
        </h3>
        <br />
      </div>

      <div class="visible-xs row">
        <p class="col-md-8 col-md-offset-2 justify minor-h-pads">
          For every pair of sunglasses sold,
          Fello donates $5 to VOSH.
          You can also accompany us in our pursuit to raise awareness and
          make a difference by contributing <a href="http://www.vosh.org/donate" target="_blank">here</a>.
        </p>
      </div>

      <div class="row row-eq-height hidden-xs">
        <div class="col-md-3 col-sm-6 col-md-offset-3 v-center">
          <h1 class="highlight text-right">3021</h1>
        </div>

        <div class="col-md-3 col-sm-6 v-center">
          <h1>Lives</h1><h1>Changed</h1>
        </div>
      </div>
      
      <h1 class="visible-xs text-center"><span class="highlight">3021 </span>&nbsp Lives Changed</h1>
    </div>


  	{% include 'header2' with "Instagram" %}

{% assign insta_products_top = "
  Tortoise_Konvoy
  Black_Konvoy 
  Black_Fantom  
  Tortoise_Fantom 
  Ice_Blue_Heron
  Dark_Green_Heron 
" | split: " " %}

{% assign insta_products_bottom = "
  Ice_Blue_Heron
  Black_Fantom  
  Dark_Green_Heron 
  Tortoise_Fantom 
  Black_Konvoy 
  Tortoise_Konvoy 
" | split: " " %}

{% assign insta-classes = "banner-border primary col-xs-4 col-sm-2 no-pads quick-view" %}
<div class="row">
  {% for product in insta_products_top %}
    {% assign product_handle = product | downcase | split: "_" | join: "-" %}
    <!-- Can change when handles are changed -->
    {% case product %}
    {% when "Ice_Blue_Heron" %}
      {% assign product_handle = "heron" %}
    {% when "Black_Fantom" %}
      {% assign product_handle = "fantom" %}
    {% when "Black_Konvoy" %}
      {% assign product_handle = "konvoy" %}
    {% endcase %}
    {% assign product_obj = all_products[product_handle] %}
    <a class="{{ insta-classes }}" href="{{ product_obj.url }}" data-pid="{{ product_obj.id }}">
      {% assign img_parts = product | split: "_" %}
      {% assign img_letter_1 = img_parts[0] | slice: 0 %}
      {% assign img_letter_2 = img_parts[1] | slice: 0 %}
      {% assign img = img_letter_1 | append: img_letter_2 | append: "_1.jpg" %}
      <img src="{{ img | asset_url }}" alt="{{ product | split: "_" | join: " " }}">
    </a>
  {% endfor %}
</div>
<div class="row hidden-xs">
  {% for product in insta_products_bottom %}
    {% assign product_handle = product | downcase | split: "_" | join: "-" %}
    <!-- Can change when handles are changed -->
    {% case product %}
    {% when "Ice_Blue_Heron" %}
      {% assign product_handle = "heron" %}
    {% when "Black_Fantom" %}
      {% assign product_handle = "fantom" %}
    {% when "Black_Konvoy" %}
      {% assign product_handle = "konvoy" %}
    {% endcase %}
    {% assign product_obj = all_products[product_handle] %}
    <a class="{{ insta-classes }}" href="{{ product_obj.url }}" data-pid="{{ product_obj.id }}">
      {% assign img_parts = product | split: "_" %}
      {% assign img_letter_1 = img_parts[0] | slice: 0 %}
      {% assign img_letter_2 = img_parts[1] | slice: 0 %}
      {% assign img = img_letter_1 | append: img_letter_2 | append: "_2.jpg" %}
      <img src="{{ img | asset_url }}" alt="{{ product | split: "_" | join: " " }}">
    </a>
  {% endfor %}
</div>
