{% if false %}
  {% if settings.use_slider_hp10 %}
  <!-- Home slide -->
  <div class="slider-homepage">
    {% include 'shortcode-slider' %}
  </div>
  <!-- ./Home slide -->
  {% endif %}
{% endif %}

<div class="no-pads col-xs-12 no-margin">


  <div class="hidden-xs text-center full-w video-text text-drop-shadow row-eq-height"
       style="position: absolute;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, .15);
              z-index: 1;"
       >

    <div style="margin: auto;">

      <h1>We Are All Fellos</h1>

      <span class="h2">Fello Friends <span class="blue">&middot;</span> </span>

      <span class="h2">Fello Travelers <span class="blue">&middot;</span> </span>

      <span class="h2">Fello Patrons <span class="blue">&middot;</span> </span>

      <span class="h2">Fello Humanity</span>

      <hr class="minor-h-marg" />

      <a href="/collections/all">
        <button class="cta-btn sharp btn btn-lg">
          <p class="h2">SHOP SUNGLASSES</p>
        </button>
      </a>

    </div>

  </div>

  <div class="video-placeholder hidden-xs">
  </div>
  
<!--   <img class='full-w' src='{{ "vosh_poster.jpg" | asset_url }}'> -->

  <div class="video-wrapper hidden-xs" style="height: 0; position: absolute; top: 0;">
     
    <video autoplay loop muted preload=auto style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; pointer-events: none; width: 100%; height: 100%;" id="bg-video">
      <source src="https://d5kbzi6svqh1a.cloudfront.net/hp_video.mp4" type="video/mp4">
    </video>
    
  </div>
  
  <a href="/collections/all" title="shop" id="for-ios" class="hidden visible-xs">
    <img class="full-w" src="{{ 'fello_eyewear_welcome.jpg' | asset_url }}" alt="Fello Eyewear">
  </a>
</div>


<div class="pillar">
  <a class="full-w" href="/collections/bamboo" title="shop instagram">
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 amb panel sharp">

      <img src="{{ 'shop_bamboo.jpg' | asset_url }}" alt="Shop Bamboo">

      <div class="panel-body text-center">

        <div class="pillar-cover row-eq-height">

          <div class="v-center full-w">

            <h2 class="white"><strong>SHOP BAMBOO</strong></h2>

          </div>

        </div>

      </div>

    </div>
  </a>
</div>


<!-- <div class="pillar">
  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 panel sharp">

    <img src="{{ 'white_pillar.jpg' | asset_url }}" alt="Fello Ambassador">

    <div class="panel-body outline">

      <div class="pillar-cover row-eq-height">

        <div class="v-center full-w">
          <div class="widget widget_newletter">

            <h2 class="text-center highlight visible-lg">Be A Fello</h2>
            <p class="visible-lg text-center"><strong>Get 10% off any purchase!</strong><br /><small> Learn about our products end charitable causes.</small></p>
            <p class="hidden-lg text-center"><span class="highlight"><strong>Be A Fello</strong></span><br /><small> Get 10% off any purchase!</small></p>

            <form style="position: relative;" class="newletter" action="{{ settings.newsletter_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
              <input style="padding: 7px 15px;" class="email-text" type="text" name="newsletter" placeholder="Your email..." value="">
              <span><button class="button add_to_cart_button" name="subscribe" id="subscribe" type="submit"><span class="icon pe-7s-angle-right"></span></button></span>
            </form>

          </div>
        </div>


      </div>

    </div>
  </div>
</div> -->


<div class="pillar">
  <a class="full-w" href="/pages/find-your-face" title="shop instagram">
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 amb panel sharp">

      <img src="{{ 'find-your-face.jpg' | file_url }}" alt="Find Your Face">

      <div class="panel-body text-center">

        <div class="pillar-cover row-eq-height">

          <div class="v-center full-w">

            <h2 class="white"><strong>FIND YOUR FACE</strong></h2>

          </div>

        </div>

      </div>

    </div>
  </a>
</div>


<div class="pillar">
  <a class="full-w" href="/pages/collaborate" title="fello collaboration">
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 panel amb sharp">

      <img src="{{ 'fello_ambassadors.jpg' | asset_url }}" alt="Fello Ambassador">

      <div class="panel-body text-center">

        <div class="pillar-cover row-eq-height">

          <div class="v-center full-w">

            <h2 class="white"><strong>COLLABORATE</strong></h2>

            <!--           <h1 class="small-caps invisible visible-lg no-margin">Fello Ambassador</h1>
<h4 class="small-caps invisible hidden-lg no-margin"><strong>Fello Ambassador</strong></h4> -->

            <!--           <img class="minor-v-marg" style="width: 25%;" src="{{ 'fello_ambassador_white.png' | asset_url }}" alt="fello ambassador">    -->

            <!--           <br /> -->
            <!-- 
<h4 class="invisible visible-lg no-margin">Get Paid to Spread the Love</h4>
<p class="invisible hidden-lg no-margin"><small>Get Paid to Spread the Love</small></p> -->

          </div>

        </div>

      </div>
    </div>
  </a>
</div>

<div class="clear">
  <br class="minor-v-marg collapse-for-ff" />
</div>

<!-- Not Mobile -->
<div class="hidden-xs text-center sale-section">
  <h2><span class="small-caps">January Kickoff Sale! Use Code:</span> <code>anewyear</code></h2>
  <h1 class="home-collection">10% OFF ANY ORDER</h1>
  <h2><strong><a href="/collections/all"><span class="small-caps">Shop Sale</span> &gt;</a></strong></h2>
</div>

<!-- Mobile -->
<div class="visible-xs text-center sale-section">
  <h4><span class="small-caps">January Kickoff Sale! Use Code:</span> <code>anewyear</code></h4>
  <h1 class="home-collection">10% OFF ANY ORDER</h1>
  <h3><strong><a href="/collections/all"><span class="small-caps">Shop Sale</span> &gt;</a></strong></h3>
</div>

<div class="clear">
  <br class="minor-v-marg collapse-for-ff" />
</div>

<!-- <div class="hidden-sm hidden-xs col-md-12">
  <h1 class="home-collection">Best Sellers</h1>
</div>
<div class="hidden-md hidden-lg clear">
  <br class="minor-v-marg collapse-for-ff" />
</div>


{% assign product = all_products['tortoise-fantom'] %}
{% assign pro_img = 'fantom_hp.png' %}
{% include 'product-halfwidth' %}

{% assign product = all_products['konvoy'] %}
{% assign pro_img = 'konvoy_hp.png' %}
{% include 'product-halfwidth' %} -->


{% if settings.use_banner_carousel_home10 %}
{% include 'shortcode-banner-slide'  %}
{% endif %}
    <div class="no-margin med-v-pads charity-hp full-w minor-h-pads">
      <div class="row">
        <h1 class="text-center">Help A Fello Out</h1>
      </div>

      <div class="hidden-xs row">
        <br />
        <h3 class="col-md-8 col-md-offset-2 minor-h-pads justify">
          For every pair of sunglasses sold,
          Fello donates $5 to VOSH.
          You can also accompany us in our pursuit to raise awareness and
          make a difference by contributing <a href="http://www.vosh.org/donate" target="_blank">here</a>.
        </h3>
        <br />
      </div>

      <div class="visible-xs row">
        <p class="col-md-8 col-md-offset-2 justify minor-h-pads">
          For every pair of sunglasses sold,
          Fello donates $5 to VOSH.
          You can also accompany us in our pursuit to raise awareness and
          make a difference by contributing <a href="http://www.vosh.org/donate" target="_blank">here</a>.
        </p>
      </div>
      
      <div class="row text-center count-wrap">
        <h1 class="odometer highlight">Calculating...</h1>
      </div>
      <div class="row text-center minor-v-marg">
        <h1 class="blue">Lives Changed</h1>
      </div>
      
     </div>


  	{% include 'header2' with "Instagram" %}

{% assign insta_products_top = "
  SI_Tortoise_Konvoy
  SI_Black_Konvoy 
  SI_Black_Fantom  
  SI_Tortoise_Fantom 
  SI_Ice_Blue_Heron
  SI_Dark_Green_Heron 
" | split: " " %}

{% assign insta_products_bottom = "
  SI_Ice_Blue_Heron
  SI_Black_Fantom  
  SI_Dark_Green_Heron 
  SI_Tortoise_Fantom 
  SI_Black_Konvoy 
  SI_Tortoise_Konvoy 
" | split: " " %}

{% assign insta-classes = "banner-border primary col-xs-4 col-sm-2 no-pads quick-view" %}
<!-- <div class="row no-margin">
  {% for product in insta_products_top %}
    {% assign product_handle = product | downcase | split: "_" | join: "-" %}


    {% assign product_obj = all_products[product_handle] %}
    <a class="{{ insta-classes }}" href="{{ product_obj.url }}" data-pid="{{ product_obj.id }}">
      {% assign img_parts = product | split: "_" %}
      {% assign img_letter_1 = img_parts[1] | slice: 0 %}
      {% assign img_letter_2 = img_parts[2] | slice: 0 %}
      {% assign img = img_letter_1 | append: img_letter_2 | append: "_1.jpg" %}
      <img src="{{ img | asset_url }}" alt="{{ product | split: "_" | join: " " }}">
    </a>
  {% endfor %}
</div>
<div class="row hidden-xs no-margin">
  {% for product in insta_products_bottom %}
    {% assign product_handle = product | downcase | split: "_" | join: "-" %}


    {% assign product_obj = all_products[product_handle] %}
    <a class="{{ insta-classes }}" href="{{ product_obj.url }}" data-pid="{{ product_obj.id }}">
      {% assign img_parts = product | split: "_" %}
      {% assign img_letter_1 = img_parts[1] | slice: 0 %}
      {% assign img_letter_2 = img_parts[2] | slice: 0 %}
      {% assign img = img_letter_1 | append: img_letter_2 | append: "_2.jpg" %}
      <img src="{{ img | asset_url }}" alt="{{ product | split: "_" | join: " " }}">
    </a>
  {% endfor %}
</div>
 -->

<script 
src='https://snapppt.com/widgets/widget_loader/5aae36b1-7142-4fe2-a099-0abc609ab375/grid.js'
 class='snapppt-widget'></script>
{{ 'odometer.js' | asset_url | script_tag }}
<script>
  window.odometerOptions = {
    auto: true, // Don't automatically initialize everything with class 'odometer'
//     selector: '.my-numbers', // Change the selector used to automatically find things to be animated
    format: 'd', // Change how digit groups are formatted, and how many digits are shown after the decimal point
    duration: 2000, // Change how long the javascript expects the CSS animation to take
    theme: 'train-station', // Specify the theme (if you have more than one theme css file on the page)
    animation: 'count' // Count is a simpler animation method which just increments the value,
    // use it when you're looking for something more subtle.
  };

    $(document).ready(function() {
//   $(window).scroll(function() {
//     var hT = $('.charity-hp').offset().top,
//         hH = $('.charity-hp').outerHeight(),
//         wH = $(window).height(),
//         wS = $(this).scrollTop();
//     if (wS > (hT+hH-wH-350)){
      $('.odometer').html(3211);
//     }
  });
</script>

<script>
  $(document).ready(function() {
    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
      $(".video-placeholder").remove();
      $("#for-ios").removeClass("hidden");
      $("#video-wrapper").remove();
      $(".video-text h1").css("margin-bottom", 0);
      $(".video-text .h2").css("margin-top", 0);
      $(".video-text").css("background-color", "transparent");
    } else {
      $(".video-wrapper").removeClass("hidden");
    }
  });

//   $(".video-wrapper").ready(function() {
//     $("#bg-video").ready(function() {
//       sleep(500).then(function() {
//         console.log("HERE");
//         $(".video-placeholder").remove();
//       });
//     });
//   });
  
/**
 * @author       Rob W <gwnRob@gmail.com>
 * @website      http://stackoverflow.com/a/7513356/938089
 * @version      20131010
 * @description  Executes function on a framed YouTube video (see website link)
 *               For a full list of possible functions, see:
 *               https://developers.google.com/youtube/js_api_reference
 * @param String frame_id The id of (the div containing) the frame
 * @param String func     Desired function to call, eg. "playVideo"
 *        (Function)      Function to call when the player is ready.
 * @param Array  args     (optional) List of arguments to pass to function func
 */
  $("iframe").ready(function() {
    sleep(5000).then(function() {
      $(".snptwdgt__ftr").hide();
      $(".snptcrd__ovrly").hide();
    });
  });
</script>