{% assign variant_multi_image = product.metafields.variant.multi_image | strip_newlines| replace: " ","" | split: ";" %}
{% for image_variant in variant_multi_image %}
<ul id="{{image_variant | split: "]" | first | remove_first: "[" }}" class="gallery_variant hidden">
  {% assign variant_multi_image_items = image_variant | split: "]" | last | remove: "(" | remove: ")" | split: "," %}
  {% for variant_multi_image_item in variant_multi_image_items %}
  <li data-image-id="{{image_variant | split: "]" | first | remove_first: "[" }}" class="gallery_variant__item" data-mfp-src="{{ variant_multi_image_item | remove: "http:" | remove: "https:"}}"></li>
  {% endfor %}
</ul>
{% endfor %} {% assign on_sale = false %}
{% assign sale_text = 'products.product.sale' | t %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% assign sold_out_text = 'products.product.sold_out' | t %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}
<div class="product-details-full">                            
  <div class="container">
    <div class="row" id="product-single">
      <h4 class="text-center hidden-md hidden-lg">Free returns on all purchases.</h4>
      <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
        <div class="product-detail-image">
           <div class="thumbnails hidden-sm hidden-xs" id="ProductThumbs">
            {% if product.images.size > 1 %}
            {% assign check = 1 %}
              {% for image in product.images %}
                <a data-url="{{ image.src | img_url: '1024x1024' }}"
                   data-image-id="{{ image.id }}"
                   href="{{ image.src | img_url: '1024x1024' }}"
                   class="product-single__thumbnail{% if check == 1 %} active{% endif %}"
                >
                <img src="{{ image.src | img_url: 'medium' }}"
                     alt="{{ image.alt | escape }}"
                     style="{% if product.title contains 'Kalani' and forloop.index0 < 4 %}padding: 37px 0px;{% endif %}"
                >
                </a>
                {% assign check = check | plus : 1 %}
              {% endfor %}
            {% endif %}
          </div>
          
          <div class="main-image-wapper text-center" id="ProductPhoto">
            {% if product.title contains 'Kalani' %}
              <img src="{{ 'kalani-header-mobile.jpg' | file_url }}" alt="The Kalani">
            {% endif %}
            {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
            <img style="width: 105%; margin-top: 10px;" class="main-image" src="{{ featured_image | img_url: 'grande' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg"{% if settings.product_image_zoom_type == 'zoom-in' %} data-zoom="{{ featured_image | img_url: '1024x1024' }}"{% endif %} data-image-id="{{ featured_image.id }}">
            <button id="show_image_variant" class="{{ variant.id }}" style="display:none;">view more image<i class="fa fa-photo"></i></button>
          </div>
          {% if settings.product_image_zoom_type == 'lightbox' %}
          <ul class="gallery hidden">
            {% for image in product.images %}
            <li data-image-id="{{ image.id }}" class="gallery__item" data-mfp-src="{{ image | img_url: '1024x1024' }}"></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
      

      <div class="product-detail-image text-center hidden-lg hidden-md">
        <div class="thumbnails pull-none full-w" id="ProductThumbs">
          {% if product.images.size > 1 %}
          {% assign check = 1 %}
          {% for image in product.images %}
            <a class="h-under product-single__thumbnail{% if check == 1 %} active{% endif %}"
               data-url="{{ image.src | img_url: '1024x1024' }}"
               data-image-id="{{ image.id }}"
               href="{{ image.src | img_url: '1024x1024' }}"
               style="{% if forloop.index0 > 3 %}margin-top: 5px;{% endif %}"
            >
            <img src="{{ image.src | img_url: 'medium' }}"
                 alt="{{ image.alt | escape }}"
            >
          </a>
          {% if forloop.index0 == 3 %}<hr class="highlight" />{% endif %}
          {% assign check = check | plus : 1 %}
          {% endfor %}
          {% endif %}
        </div>
      </div>
      
      
      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
        <div class="product-details-right">

          {% if product.title contains "Collaboration" %}
          {% else %}
            {% include 'breadcrumb-product' %}

            {% unless product.title contains 'Kalani' %}
              <br />
              <span class="h4 small-caps"><strong>Free Shipping</strong></span>
              <span class="small-caps"><small>(US & Canada)</small></span>
            {% endunless %}
            <br />

            {% if product.price > 7000 or product.title contains 'Kalani' %}
              {% unless product.title contains 'Kalani' %}
                <br />
                <p class="no-margin"><span class="small-caps">Use Code:</span> <code>summertime</code></p>
                <h6>10% Off Classic Pairs</h6>
                <hr />
              {% endunless %}
            {% endif %}

          {% endif %}

          <h3 class="product-name">{{ product.title | upcase }}</h3>
          <div class="rating">
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
          </div>
          <span class="price no-margin">
            {% if on_sale %}
            <ins>{{product.price | money }}</ins>
            <del><span style="color: red;">{{product.compare_at_price | money }}</span></del>
            {% else %}
            <ins>{{product.price | money }}</ins>
            {% endif %}
          </span>
          
          {% if product.title contains "Collaboration" %}
            <hr />
            {{ product.description | html }}
            <hr />
          {% elsif product.title contains "Kalani" %}
            <hr />
            {{ product.description | html }}
          {% else %}

            {% if product.price == 5900 or product.title contains 'Kalani' %}
              <br />
              <br />
            {% else %}
              <div id="size-link">
                <hr>
                <h2><a href="{{ product.url }}#tab-1" title="size guide">Size Guide</a></h2>
              </div>
            {% endif %}

            <script>
              if (window.location.href.includes("products")) {
                $("#size-link a").attr("href", "#tab-1");
              }
            </script>


            {% unless product.title contains 'Kalani' %}
              <div class="short-descript">
                {% if product.metafields.meta.description %}
                  {{ product.metafields.meta.description | html }}
                {%else%}
                  {{ product.description | html }}
                {% endif %}
              </div>  
            {% endunless %}
          {% endif %}
          <style>
            .single-option-selector {
              border: 2px solid black;
              text-align: center;
              padding: 5px 0px 5px 10px;
            }
          </style>

          <form action="/cart/add" method="post" enctype="multipart/form-data" class="hidden-sm hidden-xs" id="add-to-cart-form">

              <div id="product-variants">
                {% assign variantCount = product.variants | size %}
                {% if product.available %} 
                  {% if variantCount > 1 %}	
                    <select id="product-selectors" name="id" class="hidden">
                      {% for variant in product.variants %}
                      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                      {% endfor %}
                    </select>

                    {% if settings.use_color_swatch %}
                      {% for option in product.options %}
                        {% include 'swatch' with option %}
                      {% endfor %}
                    {% endif %}
                  {% else %}
                    <input type="hidden" name="id" value="{{ product.variants[0].id }}" />
                  {% endif %}
                {% endif %}
              </div>

            <div class="cart-form">

              <a id="AddToCart" class="button button-add-cart full-w boutique__add-to-cart" data-pid="{{ product.variants.first.id }}">
                <span id="AddToCartText">
                  {{ 'products.product.add_to_cart' | t }}
                </span>
              </a>

            </div>

          </form>
          
        </div>

      </div>
    </div>
  </div>

  <form
    action="/cart/add"
    method="post"
    enctype="multipart/form-data"
    class="hidden-lg hidden-md full-w"
    id="add-to-cart-form"
    style="position: fixed; bottom: 0; z-index: 100; background-color: white; border-top: 1px solid #1fa7d6;"
  >

  <style>
    .chosen-container.chosen-container-single {
      border: 1px solid #1fa7d6;
    }
  </style>

    <div id="product-variants" class="screen-mobile-xs minor-v-marg" style="text-align: center; font-weight: bolder;">
      {% assign variantCount = product.variants | size %}
      {% if product.available %} 
        {% if variantCount > 1 %}	
          <div class="hidden-xs">
            <select id="product-selectors" name="id" class="hidden">
              {% for variant in product.variants %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="visible-xs">
            <h5 class="blue">Choose A Color</h5>

            <div id="mob-pink" class="round" style="margin: 10px; display: inline-block; background-color: pink; height: 40px; width: 40px; border: 1px solid black;">
            </div>

            <div id="mob-gold" class="round" style="margin: 10px; display: inline-block; background-color: gold; height: 40px; width: 40px;">
            </div>
          </div>

          <script>
            $("#mob-gold").on('click', function() {
              $("#product-selectors").val("45737780679");
              $(this).css('border', '1px solid black');
              $("#mob-pink").css('border', 'none');
              $(".main-image").attr("src", "//cdn.shopify.com/s/files/1/1321/8937/products/kg2-front_8a22917e-75bb-4eed-acb4-3e61450bfb61_1024x1024.png?v=1500229542")
            });

            $("#mob-pink").on('click', function() {
              $("#product-selectors").val("44471103111");
              $(this).css('border', '1px solid black');
              $("#mob-gold").css('border', 'none');
              $(".main-image").attr("src", "//cdn.shopify.com/s/files/1/1321/8937/products/kp1-front-2_a84d64a2-0383-4b7d-883c-27c13ffb0be1_1024x1024.png?v=1499283920");
            });
          </script>

          {% if settings.use_color_swatch %}
            {% for option in product.options %}
              {% include 'swatch' with option %}
            {% endfor %}
          {% endif %}
        {% else %}
          <input type="hidden" name="id" value="{{ product.variants[0].id }}" />
        {% endif %}
      {% endif %}
    </div>

    <div class="cart-form">

      <a id="AddToCart"
        class="v-center no-margin full-w button button-add-cart boutique__add-to-cart"
        data-pid="{{ product.variants.first.id }}"
        >
        <span id="AddToCartText" style="display: inline-block; margin-top: 15px; margin-bottom: 15px;">
          Purchase
        </span>
      </a>

    </div>

  </form>

</div>


{% if product.title contains "Collaboration" or product.price == 6000 %}
{% else %}
<div class="container">

    <div class="tab-details-product style2">
      <ul class="box-tabs nav-tab">
        
        {% unless product.title contains "Lunar" or product.title contains 'Kalani' %}
        <li class="active"><a data-toggle="tab" href="#tab-1">Find Your Face</a></li>
        {% endunless %}

        <li class="{% if product.title contains "Lunar" %}active{% endif %}"><a data-toggle="tab" href="#tab-2">Size Guide</a></li>

        {% if false %}
          <li><a data-toggle="tab" href="#tab-3">{{settings.product_tab_title_3}}</a></li>
        {% endif %}
        {% if false %}
          <li><a data-toggle="tab" href="#tab-4">{{settings.product_tab_title_5}}</a></li>
        {% endif %}
      </ul>
      <div class="tab-container">
        {% unless product.title contains "Lunar" or product.title contains 'Kalani' %}
        <div id="tab-1" class="tab-panel active">
          {% include 'product-find-your-face' %}
        </div>
        {% endunless %}
       
        <div id="tab-2" class="{% if product.title contains "Lunar" or product.title contains 'Kalani' %}active{% endif %} tab-panel text-center">
          {% if product.title contains 'Fantom' %}
          <img class="col-md-6 pull-none col-xs-12" src="{{ 'fantom_size_guide_small.jpg' | asset_url }}" />
          {% elsif product.title contains 'Konvoy' %}
          <img class="col-md-6 pull-none col-xs-12" src="{{ 'konvoy_size_guide_small.jpg' | asset_url }}" />
          {% elsif product.title contains 'Heron' %}
          <img class="col-md-6 pull-none col-xs-12" src="{{ 'heron_size_guide_small.jpg' | asset_url }}" />
          {% elsif product.title contains 'Kalani' %}
          <img class="col-md-6 pull-none col-xs-12" src="{{ 'kalani_size_guide_small_p.png' | file_url }}" />
          {% endif %}
        </div>


        {% if false %}
            <div id="tab-3" class="tab-panel">{{ settings.product_tab_desc_3 }}</div>
        {% endif %}
        {% if false %}
            <div id="tab-4" class="tab-panel">{{ product.metafields.meta.reviews }}
              <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}
              </div>
            </div>          
        {% endif %}
      </div>  
    </div>

</div> <!--END CONTAINER-->  
{% endif %}

<script>
  
//   Hack for Mobile & Tab
  $("#product-single .product-detail-image .thumbnails a").click(function() {
    var pic = $(this).attr("data-url");
    var id = $(this).attr("data-image-id");
    $("#ProductPhotoImg").attr("src", pic);
    $("#ProductPhotoImg").attr("data-image-id", id);
  });
  
  $(document).on('mouseenter','.product-single__thumbnail', function() {
    $(document).on('click','.product-single__thumbnail', function() {
      $("#show_image_variant").css('display','none');
    });
  });
  //Shopify.Image.preload({{ product.images | json }}, 'grande');

  $(document).ready(function() {
    $(".product-single__thumbnail").removeClass("hidden");
  });
  
  {% if settings.display_subtotal and product.available %} 
  //update price when changing quantity
  function updatePricing() {
    //try pattern one before pattern 2
    var regex = /([0-9]+[.|,][0-9]+[.|,][0-9]+)/g;
    var unitPriceTextMatch = jQuery('.product .price .price').text().match(regex);
    
    if (!unitPriceTextMatch) {
      regex = /([0-9]+[.|,][0-9]+)/g;
      unitPriceTextMatch = jQuery('.product .price .price').text().match(regex);      
    }
    
    if (unitPriceTextMatch) {
      var unitPriceText = unitPriceTextMatch[0];      
      var unitPrice = unitPriceText.replace(/[.|,]/g,'');
      var quantity = parseInt(jQuery('#Quantity').val());
      var totalPrice = unitPrice * quantity;

      var totalPriceText = Shopify.formatMoney(totalPrice, window.money_format);
      
      totalPriceText = totalPriceText.match(regex)[0];

      var regInput = new RegExp(unitPriceText, "g");  
      var totalPriceHtml = jQuery('.product .price .price').html().replace(regInput ,totalPriceText); 

      jQuery('.product .total-price span').html(totalPriceHtml);      
    }
  }
  jQuery('#Quantity').on('change', updatePricing);
  {% endif %}
  
var selectCallback = function(variant, selector) {

  var productPrice = jQuery('.product .price .price'),
      comparePrice = jQuery('.product .price .compare-price'),
      addToCart = jQuery('#AddToCart'),
      addToCartText = jQuery('#AddToCartText'),
      quantityElements = jQuery('.product-single__quantity'),
      compare = jQuery('.button.compare');
  if (variant) { 
    //update variant inventory
    if (variant.available) {
      if (variant.inventory_management!=null) {
        jQuery(".product-inventory span").text(variant.inventory_quantity + " in stock");
      } else {
        jQuery(".product-inventory span").text("Many in stock");
      }
    } else {
      jQuery(".product-inventory span").text("Out of stock");
    }
  };
  if (variant) {
    
    // Select a valid variant if available
    if (variant.available) {
      // Available, enable the submit button, change text, show quantity elements
      addToCart.removeClass('disabled').prop('disabled', false);
      addToCartText.html('{{ 'products.product.add_to_cart' | t }}');
      quantityElements.show();
      compare.show();
    } else {
      // Sold out, disable the submit button, change text, hide quantity elements
      addToCart.addClass('disabled').prop('disabled', true);
      addToCartText.html('{{ 'products.product.sold_out' | t }}');
      quantityElements.hide();
      compare.hide();
    }

    // Regardless of stock, update the product price
    productPrice.html(Shopify.formatMoney(variant.price, "{{ shop.money_format }}"));

    // Also update and show the product's compare price if necessary
    if ( variant.compare_at_price > variant.price ) {
      productPrice.addClass("on-sale")
      comparePrice
        .html(Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}"))
        .show();
    } else {
      comparePrice.hide();
      productPrice.removeClass("on-sale");
    }
    {% if settings.use_color_swatch %}
    // BEGIN SWATCHES
      var form = jQuery('#' + selector.domIdPrefix).closest('form');
      for (var i=0,length=variant.options.length; i<length; i++) {
        var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
        if (radioButton.size()) {
          radioButton.get(0).checked = true;
        }
      }
     // END SWATCHES
     {% endif %}
  
  	{% if settings.display_subtotal and product.available %}  
     updatePricing();
  	 {% endif %}
  
    {% if settings.enable_multiple_currencies %}
    Currency.convertAll('{{ shop.currency }}', jQuery('#currencies').val(), 'span.money', 'money_format');
    {% endif %}
          
  } else {
    // The variant doesn't exist. Just a safeguard for errors, but disable the submit button anyway
    addToCart.addClass('disabled').prop('disabled', true);
    addToCartText.html('Unavailable');
  };
    /*begin variant image*/
    if (variant && variant.featured_image) {
      	var id = variant.id
        var originalImage = jQuery("#ProductPhotoImg");
        var newImage = variant.featured_image;
        var element = originalImage[0];
        Shopify.Image.switchImage(newImage, element, function (newImageSizedSrc, newImage, element) {
          jQuery('#ProductThumbs a.product-single__thumbnail img').each(function() {
            var grandSize = jQuery(this).attr('src');
            grandSize = grandSize.replace('_medium.','_1024x1024.').replace('_large.','_1024x1024.').replace('_grande.','_1024x1024.');
            if (grandSize == newImageSizedSrc) {
              jQuery(this).parent().trigger('click'); 
              if($('#'+id+'')[0]){
                $("#show_image_variant").attr('class', id).css('display','block');
              }             
              return false;
            }
          });
          jQuery(element).attr('src', newImageSizedSrc);
        });        
    }else{
      $("#show_image_variant").css('display','none');
    }
    /*end of variant image*/
};

jQuery(function($) {
  {% if product.available and product.variants.size > 1 %}
    new Shopify.OptionSelectors('product-selectors', {
      product: {{ product | json }},
      onVariantSelected: selectCallback, 
	  enableHistoryState: true
    });
  
     {% if settings.use_color_swatch and product.available and product.options.size > 1 %}
     Shopify.linkOptionSelectors({{ product | json }});
     {% endif %}

   {% endif %}
  
  // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
  {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
  {% endif %}

  // Hide selectors if we only have 1 variant and its title contains 'Default'.
  {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
    $('.selector-wrapper').hide();
  {% endif %}

  // Auto-select first available variant on page load. Otherwise the product looks sold out.
  {% assign found_one_in_stock = false %}
  {% for variant in product.variants %}
    {% if variant.available and found_one_in_stock == false %}
      {% assign found_one_in_stock = true %}
      {% for option in product.options %}
      $('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
      {% endfor %}
    {% endif %}
  {% endfor %}
 
});
  
</script>
