{{ 'viewer.scss' | asset_url | stylesheet_tag }}

<div id="{{ model_name | downcase }}-bg">
	<h1 class="text-center jumbotron no-margin line-title">
		{{ model_desc }}
	</h1>
	<br />
	<br />

	<style>
	</style>
	<script>
	</script>

	<div id="viewer-container" class="med-h-marg">

		<!--   <div id="add-specific" class="pull-left">
			<div class="btn-group-vertical" role="group">
				{% assign product1 = product-line-view | first %}
				<a class="button button-add-cart full-w" data-id="{{ product1.variants.first.id }}">
					{{ 'products.product.add_to_cart' | t }}
				</a>
			</div>
		</div> -->

		<div id="add-specific">
			{% for product in product-line-view %}
				<a class="button button-add-cart col-xs-4" href="http://{{ cb_ids[forloop.index0] }}.felloeyewe.pay.clickbank.net" target="cb">
					Click to Purchase a <strong>{{ product.title | split: ' ' | first }}</strong> {{ product.title | split: ' ' | last }}<span class="blue"> · </span>{{ product.price | money }}
				</a>
			{% endfor %}
		</div>

		<div id="views" class="pull-right no-pads">
			<div class="sidebar-nav">
				<div class="navbar navbar-default sharp" role="navigation">

					<ul class="nav navbar-nav">
						<li class="active" data-toggle="popover" data-placement="right" title="Front View">
							<a data-activate='1'>
								<span class="icon"><img src="{{ 'front-view-icon.png' | file_url }}"></span>
							</a>
						</li>
						<li data-toggle="popover" data-placement="right" title="Side View"><a  data-activate='2'>
								<span class="icon"><img src="{{ 'side-view-icon.png' | file_url }}"></span>
							</a>
						</li>
						<li data-toggle="popover" data-placement="right" title="Gallery">
							<a data-activate='3'>
								<span class="icon"><img src="{{ 'gallery-view-icon.png' | file_url }}"></span>
							</a>
						</li>
						<li data-toggle="popover" data-placement="right" title="Size Guide">
							<a data-activate='4'>
								<span class="icon"><img src="{{ 'size-view-icon.png' | file_url }}"></span>
							</a>
						</li>
					</ul>

				</div>
			</div>
		</div>

		<div id="viewer" class="med-h-pads">
			<div id="front" class="active view-holder" data-target="1">
				{% for prod in product-line-view %}
					{% assign img_url = prod.featured_image.src | img_url: '1024x1024' %}
					{% if forloop.first %}
						<img data-target="{{ forloop.index }}" class="active" src="{{ img_url }}">
					{% else %}
						<img data-target="{{ forloop.index }}" class="empty" src="{{ img_url }}">
					{% endif %}
				{% endfor %}
			</div>

			<div id="side" class="empty view-holder" data-target="2">
				{% for prod in product-line-view %}
					{% assign img_url = prod.images[1].src | img_url: '1024x1024' %}
					{% if forloop.first %}
						<img data-target="{{ forloop.index }}" class="active" src="{{ img_url }}">
					{% else %}
						<img data-target="{{ forloop.index }}" class="empty" src="{{ img_url }}">
					{% endif %}
				{% endfor %}
			</div>

			<div id="gallery" class="empty view-holder text-center" data-target="3">
				<span class="pull-left icon pe-7s-left-arrow" data-move-towards="first"></span>
				<div class="poster-frame">
					<img src="" data-target="" title="Fantoms">
					<p>{{ model_name | append: "s" }}</p>
				</div>
				<span class="pull-right icon pe-7s-right-arrow" data-move-towards="last"></span>
			</div>

			<div id="size-guide" class="text-center empty view-holder" data-target="4">
				<img class="" src="{{ model_name | downcase | append: '_size_guide_small.jpg' | asset_url }}" />
			</div>

			<div id="toggler" class="full-w">
				<ul class="nav nav-pills" data-model="{{ model_name }}">
					{% for prod in product-line-view %}
						{% assign label = prod.title | split: ' ' | first %}
						{% assign cb_id = cb_ids[forloop.index0] %}
						{% if forloop.first %}
							<li class="active"><a data-cb='{{ cb_id }}' data-activate="{{ forloop.index }}">{{ label }}</a></li>
						{% else %}
							<li><a data-cb='{{ cb_id }}' data-activate="{{ forloop.index }}">{{ label }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>

		<div id="gallery-holder" class="text-center">
			<div class="shadow" style="left: 0;"></div>
			<div class="full-h">
				{% include 'find-your-face-counts' %}
				{% for face in face_matrix %}
					{% if face contains 'fantom' %}
						<img src="{{ face | append: '.jpg' | file_url }}" data-activate="{{ forloop.index }}">
					{% endif %}
				{% endfor %}        
			</div>
			<div class="shadow" style="right: 0;"></div>
		</div>

	</div>
</div>

<hr class="highlight">

<div id="cb-info" class="row row-eq-height care-section minor-v-pads minor-h-pads hidden-xs">
  <div class="col-sm-4">
    <h1 class="text-center col-xs-11"><span class="icon highlight pe-7s-refresh"></span>  &nbsp; Returns</h1>

    <div class="panel sharp panel-default col-xs-11 no-pads">
      <div class="panel-body">
        <p class="col-xs-12 h5 justify">
          We want you to feel comfortable purchasing online,
          so we allow a 30 day grace period to try on your pair
          and decide if they are right for you!
          If you are unsatisfied, you can return them for a refund.
          Refund eligibility requires the glasses to be in the same condition
          as you received them and returned in the original packaging.
        </p>
      </div>
    </div>

  </div>

  <div class="col-sm-4">
    <h1 class="text-center col-xs-11 col-xs-offset-1"><span class="icon highlight pe-7s-refresh-2"></span> &nbsp; Warranty</h1>

    <div class="panel sharp panel-default col-xs-11 col-xs-offset-1 no-pads">
      <div class="panel-body">
        <p class="col-xs-12 h5 justify">
          Our sunglasses are warranted to the original purchaser
          for one year from the date of purchase against any defect
          in the original materials and craftsmanship.
          We will replace at our discretion,
          any pair of Fellos found to be defective and exclusive
          of damage caused by improper or unreasonable use.
        </p>
      </div>
    </div>

  </div>

  <div class="col-sm-4">
    <h1 class="text-center col-xs-11 col-xs-offset-1">
      <span class="icon highlight pe-7s-mail"></span> &nbsp; Shipping
    </h1>

    <div class="panel sharp panel-default col-xs-11 col-xs-offset-1 no-pads">
      <div class="panel-body">
        <p class="col-xs-12 h5 justify">
          We ship all domestic and international orders with USPS.
          All orders from the United States and Canada are FREE of charge.
          All orders outside of the Unites States and Canada are a flat fee of $20.
          Domstic orders take 2 - 3 days onces shipped and internal vary
          and take upwards of 3 days.
        </p>
      </div>
    </div>

  </div>

</div>

<h3 class="blue contact">
  If you have any question, don't hesitate to ask. Contact us at
  <a href="mailto:contact@felloeyewear.com">contact@felloeyewear.com</a>.
</h3>

<h6 id="disclaimer">
  <div class="container">
    ClickBank is the retailer of products on this site. CLICKBANK® is a registered trademark of Click Sales, Inc., a Delaware corporation located at 917 S. Lusk Street, Suite 200, Boise Idaho, 83706, USA and used by permission. ClickBank's role as retailer does not constitute an endorsement, approval or review of these products or any claim, statement or opinion used in promotion of these products.
  </div>
</h6>

{{ 'viewer.js' | asset_url | script_tag }}
<script src='//cbtb.clickbank.net/?vendor=felloeyewe&position=bottom_left&theme=black'></script>
<script>
	(function() {
		var define = window.define;
		window.define = function(package) {
			if (package.HandlebarsEnvironment) {
				window.Handlebars = package;
			}
			define.apply(this, arguments);
		}; })();
</script> 
