
<h1 class="text-center jumbotron section-header__title no-margin">{{ page.title }}</h1>

<div class="container">
  <div class="row">
    <h2>Photos by
      <a href="jeffreycowan.com" title="Jeff Cowan Editor | Documentary Filmmaker">
        Jeff Cowan
      </a>
    </h2>

    <hr />

    <div class="row-eq-height">

      <div class="media v-center">
        <div class="media-left">
          <img class="photo-cred media-object" src="{{ 'vosh_fello_africa.jpg' | asset_url }}" alt="Jeff Cowan Photo">
        </div>
      </div>

      <div class="media v-center">
        <div class="media-left">
          <img class="photo-cred media-object" src="{{ 'charity_hp.jpg' | asset_url }}" alt="Jeff Cowan Photo">
        </div>
      </div>

      <div class="media v-center">
        <div class="media-left">
          <img class="photo-cred media-object" src="{{ 'charity_top.jpg' | asset_url }}" alt="Jeff Cowan Photo">
        </div>
      </div>

      <div class="media v-center">
        <div class="media-left">
          <img class="photo-cred media-object" src="{{ 'fello_and_vosh.jpg' | asset_url }}" alt="Jeff Cowan Photo">
        </div>
      </div>

    </div>
    
  </div>


</div>
